<div class="modal-header">
	<h4 class="modal-title">Create a Music Item</h4>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
	<p>Form goes here</p>
	<form><!-- Form goes here --></form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-primary" disabled>Create</button>
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>